fastapi
uvicorn
python-multipart
sqlalchemy
pymysql
bcrypt
python-jose
langchain
langchain-openai
langgraph
pinecone
python-pptx
pydantic>=2.0.0
langchain-pinecone
python-dotenv
python-docx
PyPDF2
psycopg2-binary
